[Desktop Entry]
Encoding=UTF-8
Name=batjorge
Comment=batjorge P2P Cryptocurrency
Comment[fr]=batjorge, monnaie virtuelle cryptographique pair à pair
Comment[tr]=batjorge, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/batjorge-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/batjorge;
Categories=Office;
